@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque|Luckiest+Guy&display=swap');
/* mobile */
@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}

	/* passer body (et tous les éléments de largeur fixe) en largeur automatique */

	body {
		width: auto;
		margin: 0;
		padding: 0;
	}

	/* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

	img,
	table,
	td,
	blockquote,
	code,
	pre,
	textarea,
	input,
	iframe,
	object,
	embed,
	video {
		max-width: 100%;
	}

	/* conserver le ratio des images */

	img {
		height: auto;
	}

	/* gestion des mots longs */

	textarea,
	table,
	td,
	th,
	code,
	pre,
	samp {
		-webkit-hyphens: auto; /* césure propre */
		-moz-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word; /* passage à la ligne forcé */
	}

	code,
	pre,
	samp {
		white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
	}

	/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
/*
	.element1,
	.element2 {
		float: none;
		width: auto;
	}
*/
	/* masquer les éléments superflus */

	.hide_mobile {
		display: none !important;
	}

	/* Un message personnalisé */

	body:before {
		display: block;
		text-align: center;
		font-style: italic;
		color: #777;
	}
}
/* mobile end */


header img {
    height: 80px;
}

header {
    background-color: #1f1515;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

.rainbow-text {
  background-image: linear-gradient(#E866A2, #FFF496, #50BBCC);   -webkit-background-clip: text;
  color: transparent;
    font-family: "Darker Grotesque";
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 5px;
}
.desctitle {
    color: #50BBCC;
    font-family: "Raleway";
    font-size: 15px;
    margin-top: 0;
}


body {
    height: 100vh;
    margin-top: 50px;
    padding: 30px;
    background-color: #1f1515;
    background-image: url(/image/finalpublishboyal.png);
    background-size: 5%;
    background-repeat: repeat;
}

.title {
    color: wheat;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 5px;
}

.subtitle {
    color: #50BBCC;
    font-family: "Raleway";
    font-size: 15px;
    margin-top: 0;
}

.intensity {
    position: inherit;
    margin-left: inherit;
    color: wheat;
    font-family: "Raleway";
    font-size: 15px;
    margin-top: 25px;
    margin-right: 355px;
}

.result {
    margin-left: inherit;
    position: inherit;
    color: wheat;
    font-family: "Raleway";
    font-size: 15px;
    margin-top: 55px;
    margin-right: 355px;

}


.monster {
    width: 370px;
    height: 355px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/image/finalpublishboy.png);
    background-size: contain;
}

.file_input {
    width: 420px;
	background: #151f15;
    margin-left: auto;
    margin-right: auto;	
    padding: 12px;
    background: none;
    border-bottom: true;
    border-bottom-color: #E866A2;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #50BBCC;
    font-family: "Raleway";
    font-size: 15px;
}

.file_input::placeholder {
    font-family: "Raleway";
}

.radio {
  position: relative;
  display: inline-block;
  margin: 0 20px 0px 0;
}

.radio label {
    margin-left: inherit;
    color: #50BBCC;
    font-family: "Raleway";
    font-size: 15px;
    margin-top: 15;
}

.radio input[type='radio']:checked:after {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #E866A2;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.btn {
    margin-top: 20px;
    max-width: 450px;
  border: none;
  color: wheat;
  font-family: "Raleway";
  font-weight: bold;
  display: block;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  background-color: #493232;
}

.btn:hover {
      background-color: #734f4f;
}

.btn::after {
  content: "";
  background-color: #E866A2;
  box-shadow: 10px 10px 0 #FFF496, 
              20px 20px 0 #50BBCC;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  height: 103%;
  width: 100%;
  z-index: -1;
  transition: all 0.2s ease;
}

.btn:hover::after {
  box-shadow: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.copy {
    cursor: pointer;
    display: inline-block;
    position: inherit;
    color: wheat;
    font-family: "Raleway";
    font-size: 10px;
}

.result_label {
    cursor: pointer;
    display:inline-block;
    margin-left: 50px;
    --borderWidth: 1.5px;
    background: #1f1515;
    position: relative;
    width: 620px;
    padding: 12px;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #50BBCC;
    font-family: "Raleway";
    font-size: 20px;
}

.result_label:after {
  content: '';
  position: absolute;
  top: calc(0 * var(--borderWidth));
  left: calc(0 * var(--borderWidth));
  height: calc(99% + var(--borderWidth) * 2);
  width: calc(99% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #E866A2, #50BBCC, #FFF496);
  z-index: -1;
  animation: animatedgradient 1s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


footer {
    background-color: #1f1515;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

